# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/e2e/.auth/state.json
/e2e/.auth/test-meta.json
/e2e/grid-performance.spec.ts
/test-results/
/playwright-report/
/screenshots/
/e2e/test-*.spec.ts

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
.pnpm-store/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea

# Prisma generated client
generated/prisma
